
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/logar.css">
</head>
<body>
    <img src="~/Content/images/image 1.png" alt="">
    <img class="logo-img" src="~/Content/images/petlife (2).png">
    <section>
        <div class="login-box">
            <form action="">
                <h2>login</h2>
                <div class="input-box">
                    <span class="icon"> <ion-icon name="mail"></ion-icon> </span>
                    <input type="Email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"> <ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Senha</label>
                </div>

                <button type="submit"> Login </button>
                <div class="register-link">
                    <p>Não tem conta?<a href="#"> Registrar </a> </p>
                </div>
            </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>



</body>
</html>
